body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    padding: 0;
    margin: 0;
}
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 1;

}
#gameCanvas{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 1;

}